@charset "UTF-8";
/*須設定才能抓得到中文字*/
@import url("https://fonts.googleapis.com/css2?family=Grey+Qo&family=Noto+Serif+TC:wght@200..900&family=Alegreya&family=Grenze+Gotisch:wght@200&display=swap");
/*Google Fonts*/
@font-face {
  font-family: LEMONMILK;
  src: url("../webfonts/LEMONMILK.otf");
}
@font-face {
  font-family: TaipeiSansTC;
  src: url("../webfonts/TaipeiSansTC.ttf");
}
@font-face {
  font-family: ROLATE;
  src: url("../webfonts/ROLATE.otf");
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*消除button所有預設*/
button {
  margin: 0;
  /* 清除外邊距 */
  padding: 0;
  /* 清除內邊距 */
  border: none;
  /* 清除邊框 */
  background: none;
  /* 清除背景 */
  font: inherit;
  /* 繼承父元素的字體屬性 */
  color: inherit;
  /* 繼承父元素的文字顏色 */
  /* text-align: left; 清除文字居中
    cursor: pointer; 使鼠標顯示為手指形狀
    outline: none; 清除默認的焦點樣式 */
}

/*定義css變數*/
:root {
  /*灰階*/
  --light_grey: #ccc;
  --grey: #999;
  --deep_grey: #666;
  /*主色調*/
  --major-color: #f2edf0;
  --major-color2: #e6ece5;
  --major-color3: #ecf0f4;
  /*輔助色調*/
  --lesser-color: rgb(191, 152, 153);
  --dark-gb: #22577a;
  --dark-gb-5: #22577a1a;
  --miduim-gb: #38a3a5;
  --light-gb: #57cc99;
  --light-gb-5: #57cc9918;
  --green: #80ed99;
  --light-g: #c7f9cc;
}

/*網頁常用設定*/
* {
  /*"*"表全域選擇器，改變所有標籤*/
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /*不累加邊框和內距，間距還是會累積*/
}

a {
  display: block;
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
}

body {
  /* background-color: blanchedalmond; */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, "蘋方-繁", "PingFang TC", "黑體-繁", "Heiti TC", "微軟正黑體", "Microsoft JhengHei", "Noto Sans TC", sans-serif;
}

/*卷軸:滑動效果*/
/* body,html {
	scroll-behavior: smooth;
} */
#topbar {
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /*主軸(水平)齊頭齊尾*/
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  /*副軸(垂直)置中*/
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /*positon自動改變了寬度*/
  padding: 10px 40px;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}

#topbar .logo {
  /*用階層找class需要空一格*/
  width: 130px;
  height: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto 0;
}
#topbar nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*預設水平排列(主軸垂直)*/
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /*改為垂直排列(副軸[水平]置底*/
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
#topbar .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#topbar .icon a {
  width: 35px;
  height: 35px;
  margin: 5px;
}
#topbar .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#topbar .menu a {
  font-family: LEMONMILK, serif;
  position: relative;
  text-decoration: none;
  padding: 5px 0;
  margin: 15px 25px;
  color: var(--deep_grey);
  border-bottom: transparent solid 2px;
  /*先佔一個3px邊界的位置，設為透明，不然hover時項目會位移*/
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}
#topbar .menu a:hover {
  border-bottom: var(--deep_grey) solid 2px;
}

.btn_fb {
  background-image: url("../material/images/icon-fb.svg");
}
.btn_fb:hover {
  background-image: url("../material/images/icon-fb-hover.svg");
}

.btn_ig {
  background-image: url("../material/images/icon-ig.svg");
}
.btn_ig:hover {
  background-image: url("../material/images/icon-ig-hover.svg");
}

.btn_ln {
  background-image: url("../material/images/icon-line.svg");
}
.btn_ln:hover {
  background-image: url("../material/images/icon-line-hover.svg");
}

.glassmorphism {
  /*玻璃擬態*/
  background: linear-gradient(85deg, rgba(255, 255, 255, 0.8) 42.02%, rgba(255, 255, 255, 0.8) 66.52%);
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.25), inset -1px -1px 2px rgba(255, 255, 255, 0.6);
          box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.25), inset -1px -1px 2px rgba(255, 255, 255, 0.6);
  -webkit-backdrop-filter: blur(2.5px);
          backdrop-filter: blur(2.5px);
  opacity: 0.8;
  border-radius: 30px;
}

/*手機板漢堡選單*/
@media (max-width: 640px) {
  #topbar {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-left: 10px;
    padding-right: 10px;
    /* 漢堡按鈕  */
    /* 手機版主選單動態及定位 */
  }
  #topbar .logo {
    margin: 10px;
  }
  #topbar .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px;
  }
  #topbar .menu a {
    /* position: relative; */
    padding: 10px;
    margin-bottom: 20px;
  }
  #topbar .icon {
    /* display: flex;
    justify-content: center; */
    margin: 20px auto 0;
    /*左右auto也可以置中*/
    /*改變排列順序(跟menu的)*/
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  #topbar .icon a {
    width: 35px;
    margin: 0 5px;
  }
  #topbar .nav_box {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding: 15px;
  }
  #topbar .hamburger {
    display: inline-block;
    cursor: pointer;
    /*  修改button預設樣式  */
    background-color: transparent;
    border: none;
    padding: 0;
    margin-bottom: 10px;
    width: 55px;
    height: 55px;
    /* 三 變換為 X */
    /*沒有空格表示同時存在才會套用，空一格表示子元素*/
  }
  #topbar .hamburger .bar {
    /*這是span標籤*/
    display: block;
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 5px auto;
    border-radius: 3px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  #topbar .hamburger.is-active .bar:nth-child(2) {
    opacity: 0;
  }
  #topbar .hamburger.is-active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
            transform: translateY(8px) rotate(45deg);
  }
  #topbar .hamburger.is-active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
            transform: translateY(-8px) rotate(-45deg);
  }
  #topbar .navigation {
    display: none;
    /* position: absolute; */
    /* top: 30px;
    right: 0; */
    /* background-color: rgba(0, 0, 0, 0.3); */
    /* border-radius: 20px; */
    -webkit-animation: navigation 0.35s both;
            animation: navigation 0.35s both;
  }
  #topbar .navigation.show {
    /* display: block; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-animation: show 0.35s both;
            animation: show 0.35s both;
  }
  @-webkit-keyframes navigation {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  @keyframes navigation {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  @-webkit-keyframes show {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes show {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
/*主要內容區*/
section {
  height: 100vh;
  /*100vh表示剛好一個視窗高，會自動彈性符合*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*轉變後預設主軸方向變為水平*/
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /*轉變主軸方向為垂直*/
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*副軸(水平)置中*/
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /*主軸(垂直)置中*/
}

/*首頁輪播區*/
.title {
  font-family: "Grenze Gotisch", serif;
  font-size: 2.5rem;
  color: var(--dark-gb);
  border-top: var(--dark-gb) solid 3px;
  margin-bottom: 5%;
  padding: 5px;
  /* margin-top: 10px; */
}

.list-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
}

.list-item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  /*均分*/
  margin: 0 10px;
  -webkit-box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.3);
  /*a表透明度*/
  /* X軸 Y軸 模糊 展開(選填) 顏色, (內陰影inset) X軸 Y軸 模糊 展開(選填) 顏色*/
  border-radius: 20px;
  overflow: hidden;
  height: 65vh;
  cursor: pointer;
}

.list-box .list-item:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

.list-box:hover > .list-item:not(:hover) {
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

/* .list-item a {
  cursor: default;
  pointer-events: none;
} */
/* Lightbox styles */
.lightbox,
.lightbox2 {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2.5%;
  padding-bottom: 3.5%;
  z-index: 1000;
  /* display: flex; */
}

.lightbox {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.lightbox img {
  max-width: 90%;
  max-height: 80%;
  margin-bottom: 2%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 480px) {
  .lightbox {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .lightbox img {
    margin: 0;
    margin-top: 30%;
    margin-bottom: 10px;
  }
}
.lightbox2 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.lightbox2 .lightbox2-container {
  max-width: 990px;
  max-height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: var(--major-color2);
  padding: 60px 60px;
  border-radius: 20px;
}
.lightbox2 .lightbox2-container .content-box {
  position: relative;
  max-width: 36%;
  max-height: 80%;
  margin-left: 2%;
  padding-left: 2%;
}
.lightbox2 .lightbox2-container .content-box .content-title {
  font-family: "Grey Qo", cursive;
  font-weight: 600;
  font-style: normal;
  font-size: 3.5rem;
  color: black;
  margin-bottom: 2%;
}
.lightbox2 .lightbox2-container .content-box .lightbox-content-service {
  font-family: TaipeiSansTC, sans-serif;
  line-height: 24px;
  letter-spacing: 1px;
  color: var(--deep_grey);
  font-style: normal;
  font-size: 1rem;
}
.lightbox2 .lightbox2-container img {
  max-width: 60%;
  max-height: 80%;
  -o-object-fit: contain;
     object-fit: contain;
}

.thumbnail {
  cursor: pointer;
}

.lightbox-content {
  max-width: 90%;
  max-height: 80%;
  color: #ddd;
  font-family: "Grey Qo", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
}

@media (max-width: 1024px) {
  .lightbox2 .content-box {
    max-width: 50%;
  }
}
@media (max-width: 768px) {
  .lightbox2 .lightbox2-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .lightbox2 .lightbox2-container img {
    max-width: 30%;
    margin-bottom: 2%;
  }
  .lightbox2 .lightbox2-container .content-box {
    max-width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .lightbox2 .lightbox2-container .content-box .lightbox-content-service {
    font-size: 0.8rem;
  }
}
/* lightbox開啟時，取消網頁滾軸 */
.no-scroll {
  overflow: hidden;
}

/*News最新消息區*/
#news {
  background-color: var(--major-color);
}
#news figure {
  height: 35vh;
  /*display-block預設寬度自動跟隨父元素所以不用設定*/
  margin-bottom: 10px;
}
#news figure img {
  /*剪裁圖片以至適應容器，並要搭配寬高100%*/
  height: 100%;
  /* width: 100%; 上面共用區已經設定過img width:100%; */
  -o-object-fit: cover;
     object-fit: cover;
  /*contain則是維持長寬比縮小*/
}
#news p {
  margin-bottom: 15px;
  font-family: TaipeiSansTC, sans-serif;
  /*萬一掉字採用甚麼字體*/
  /*text-align: justify; 齊行，但不建議英文使用*/
  letter-spacing: 1.1px;
  line-height: 24px;
  color: var(--deep_grey);
  /*多行隱藏(省略)*/
  overflow: hidden;
  text-overflow: ellipsis;
  /*瀏覽器有預設，可省略*/
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
}
#news a {
  /* display: inline-block; */
  /* text-align: right; */
  color: var(--deep_grey);
  margin-bottom: 10px;
  margin-right: 15px;
  float: right;
  /*float預設跟內容一樣寬，不會自動整行，所以不用改display了*/
}
#news a:hover {
  color: var(--lesser-color);
}
@media (max-width: 768px) {
  #news .list-item:last-child {
    display: none;
  }
  #news p {
    -webkit-line-clamp: 9;
    /*卡片文字顯示行數*/
  }
}
@media (max-width: 640px) {
  #news .list-item:nth-child(n+2) {
    display: none;
  }
  #news p {
    -webkit-line-clamp: 5;
    /*卡片文字顯示行數*/
    margin-bottom: 10px;
  }
}

.list-item p {
  padding: 0 20px;
}
.list-item h3 {
  padding: 0 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: LEMONMILK, sans-serif;
  /*萬一掉字採用甚麼字體*/
  letter-spacing: 2.5px;
}

.more {
  /* display: inline-block; */
  /* text-align: right; */
  color: var(--major-color);
  margin-bottom: 10px;
  margin-right: 5px;
  float: right;
  /*float預設跟內容一樣寬，不會自動整行，所以不用改display了*/
}
.more:hover {
  color: lightpink;
}

/*SERVICE區*/
#services {
  background-color: var(--major-color2);
}
#services .list-item {
  /*背景跟圖片設定不同，圖片float直接預設置中=>news區塊的list-item*/
  background-size: cover;
  /* background-repeat: no-repeat; */
  background-position: center;
  /*讓內容子元素靠下對齊*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*主軸預設水平*/
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  /*副軸(垂直)置底*/
}
#services .list-item a {
  background-color: rgba(0, 0, 0, 0.3);
  color: var(--major-color);
  letter-spacing: 1.1px;
  line-height: 24px;
  overflow: hidden;
  /*父元素子元素都要定義overflow: hidden;*/
}
#services .list-item p {
  /*多行隱藏(省略)*/
  overflow: hidden;
  /*父元素子元素都要定義overflow: hidden;*/
  text-overflow: ellipsis;
  white-space: nowrap;
}
#services .svc1 {
  background-image: url(../material/images/pt_svc1.jpg);
}
#services .svc2 {
  background-image: url(../material/images/pt_svc2.jpg);
}
#services .svc3 {
  background-image: url(../material/images/pt_svc3.jpg);
}
#services .svc4 {
  background-image: url(../material/images/pt_svc4.jpg);
}
@media (max-width: 768px) {
  #services .list-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #services .list-item {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    /*flex:1不支援高度，要取消*/
    height: 33vh;
    margin: 20px 0;
  }
  #services .list-item:nth-child(n+3) {
    display: none;
  }
}

/*ABOUT區塊*/
#about {
  /* background-color: var(--major-color3); 用VIDEO當作假背景了 */
  position: relative;
}
#about .title {
  z-index: 3;
}
#about .contain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /*主軸方向改為垂直*/
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /*主軸(垂直)置中*/
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*副軸(水平)置中，原本自動延展*/
  z-index: 2;
  width: 65%;
  /* background-color: rgba(247, 221, 182, 0.436); */
  background-color: rgba(175, 223, 255, 0.436);
  padding: 30px 50px;
  height: 100vh;
}
#about .contain p {
  overflow: auto;
  /*加入滾動條*/
  height: 75vh;
  padding: 10px 20px;
  line-height: 2rem;
  letter-spacing: 1px;
  word-spacing: 3px;
}
#about .contain .scrollbox::-webkit-scrollbar {
  width: 10px;
  background: var(--light-gb-5);
  opacity: 0.2;
}
#about .contain .scrollbox::-webkit-scrollbar:horizontal {
  height: 10px;
}
#about .contain .scrollbox::-webkit-scrollbar-button {
  width: 10px;
  height: 10px;
  background: var(--dark-gb-5);
}
#about .contain .scrollbox::-webkit-scrollbar-thumb {
  background: var(--dark-gb-5);
}
#about .contain .scrollbox::-webkit-scrollbar-thumb.active {
  background: rgba(128, 74, 74, 0.5058823529);
}
#about .contain .scrollbox::-webkit-scrollbar-corner {
  background: rgba(79, 83, 95, 0.3882352941);
}
#about .contain .scrollbox::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px rgba(161, 168, 115, 0.2);
          box-shadow: inset 0 0 5px rgba(161, 168, 115, 0.2);
}
#about video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  /*其他元素預設=0*/
  -o-object-fit: cover;
     object-fit: cover;
  /*需要搭配寬高100%*/
  height: 100%;
  width: 100%;
  /*濾鏡*/
  -webkit-filter: brightness(90%) sepia(50%) opacity(70%);
          filter: brightness(90%) sepia(50%) opacity(70%);
}
@media (max-width: 640px) {
  #about .contain {
    width: 90%;
  }
}

/*VIDEO區塊*/
#video {
  background-color: var(--major-color2);
}
#video video {
  /* height: 100%; 
  width: 100%; */
  height: 480px;
  width: 854px;
  /*寬高設定100%是避免播放時縮小*/
  max-height: 70vh;
  max-width: 70%;
  /*設定這兩點放大與縮小時才不會超出=>RWD桌機概念*/
  -o-object-fit: cover;
     object-fit: cover;
  /*讓封面圖片填滿標籤 */
}
@media (max-width: 768px) {
  #video #video {
    height: auto;
    padding: 10vh 0;
  }
}

/*Contact區塊*/
#contact {
  background-color: var(--major-color);
  /*固定全頁背景的語法*/
  background-image: url("../material/images/bg_contact01.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
#contact #contact_form {
  width: 35%;
  /*全域選擇器"*"*/
}
#contact #contact_form div * {
  display: block;
  width: 100%;
  font-family: "Noto Serif TC", serif;
  font-size: 1rem;
  font-weight: 600;
}
#contact #contact_form label {
  margin: 15px 0 5px;
}
#contact #contact_form input,
#contact #contact_form textarea {
  /*拿掉input瀏覽器預設的底色*/
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.8);
  /*玻璃擬態*/
  background: linear-gradient(85deg, rgba(255, 255, 255, 0.8) 42.02%, rgba(255, 255, 255, 0.8) 66.52%);
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.25), inset -1px -1px 2px rgba(255, 255, 255, 0.6);
          box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.25), inset -1px -1px 2px rgba(255, 255, 255, 0.6);
  -webkit-backdrop-filter: blur(2.5px);
          backdrop-filter: blur(2.5px);
  opacity: 0.8;
  border-radius: 10px;
  height: 5vh;
  padding: 10px 5px 5px 20px;
  /* outline: none; */
  /* 取消focus預設值邊框 */
}
#contact #contact_form input::-webkit-input-placeholder, #contact #contact_form textarea::-webkit-input-placeholder {
  font-family: TaipeiSansTC;
  font-size: 1rem;
  font-weight: 200;
  color: var(--grey);
}
#contact #contact_form input::-moz-placeholder, #contact #contact_form textarea::-moz-placeholder {
  font-family: TaipeiSansTC;
  font-size: 1rem;
  font-weight: 200;
  color: var(--grey);
}
#contact #contact_form input:-ms-input-placeholder, #contact #contact_form textarea:-ms-input-placeholder {
  font-family: TaipeiSansTC;
  font-size: 1rem;
  font-weight: 200;
  color: var(--grey);
}
#contact #contact_form input::-ms-input-placeholder, #contact #contact_form textarea::-ms-input-placeholder {
  font-family: TaipeiSansTC;
  font-size: 1rem;
  font-weight: 200;
  color: var(--grey);
}
#contact #contact_form input::placeholder,
#contact #contact_form textarea::placeholder {
  font-family: TaipeiSansTC;
  font-size: 1rem;
  font-weight: 200;
  color: var(--grey);
}
#contact #contact_form input {
  /*恆定在固定角度，無論網頁放大*/
  border-radius: calc(infinity * 1px);
}
#contact #contact_form textarea {
  height: 20vh;
  border-radius: 15px;
}
#contact #contact_form input:focus,
#contact #contact_form textarea:focus {
  outline: 3px solid var(--dark-gb);
  /* outline-offset: 15px; */
  /* Foucus框與原框間距 */
}
#contact #btn_form {
  padding: 0px;
  /*手機瀏覽器有預設間距*/
  outline: none;
  /* border: 1px solid transparent; */
  border: none;
  /* text-decoration: none; */
  /* border-radius: 30px; */
  border-radius: calc(infinity * 1px);
  color: var(--dark-gb);
  width: 30%;
  cursor: pointer;
  background-color: var(--light-gb-5);
  border: 2px solid var(--dark-gb-5);
  display: block;
  margin: 2vh auto;
  /*一定要是區塊(block)才能夠使用margin左右auto(置中)*/
  /*上下無法使用margin auto*/
  /* display: flex;
  justify-content: center;
  align-items: center; */
}
#contact #btn_form span {
  display: block;
  font-size: 0.8rem;
  /*12px;*/
  font-family: "Noto Serif TC", serif;
  font-weight: 700;
  /* letter-spacing: 0.7px; */
  /*字距的尺寸會在右邊長尺寸*/
  margin: 15px;
  /* white-space: nowrap; */
}
#contact #btn_form:hover {
  -webkit-animation: rotate 0.7s ease-in-out both;
          animation: rotate 0.7s ease-in-out both;
}
#contact #btn_form:hover span {
  -webkit-animation: storm 0.7s ease-in-out both;
          animation: storm 0.7s ease-in-out both;
  -webkit-animation-delay: 0.06s;
          animation-delay: 0.06s;
}
@media (max-width: 768px) {
  #contact #contact_form {
    width: 70%;
  }
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg) translate3d(0, 0, 0);
            transform: rotate(0deg) translate3d(0, 0, 0);
  }
  25% {
    -webkit-transform: rotate(3deg) translate3d(0, 0, 0);
            transform: rotate(3deg) translate3d(0, 0, 0);
  }
  50% {
    -webkit-transform: rotate(-3deg) translate3d(0, 0, 0);
            transform: rotate(-3deg) translate3d(0, 0, 0);
  }
  75% {
    -webkit-transform: rotate(1deg) translate3d(0, 0, 0);
            transform: rotate(1deg) translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: rotate(0deg) translate3d(0, 0, 0);
            transform: rotate(0deg) translate3d(0, 0, 0);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg) translate3d(0, 0, 0);
            transform: rotate(0deg) translate3d(0, 0, 0);
  }
  25% {
    -webkit-transform: rotate(3deg) translate3d(0, 0, 0);
            transform: rotate(3deg) translate3d(0, 0, 0);
  }
  50% {
    -webkit-transform: rotate(-3deg) translate3d(0, 0, 0);
            transform: rotate(-3deg) translate3d(0, 0, 0);
  }
  75% {
    -webkit-transform: rotate(1deg) translate3d(0, 0, 0);
            transform: rotate(1deg) translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: rotate(0deg) translate3d(0, 0, 0);
            transform: rotate(0deg) translate3d(0, 0, 0);
  }
}
@-webkit-keyframes storm {
  0% {
    -webkit-transform: translate3d(0, 0, 0) translateZ(0);
            transform: translate3d(0, 0, 0) translateZ(0);
  }
  25% {
    -webkit-transform: translate3d(4px, 0, 0) translateZ(0);
            transform: translate3d(4px, 0, 0) translateZ(0);
  }
  50% {
    -webkit-transform: translate3d(-3px, 0, 0) translateZ(0);
            transform: translate3d(-3px, 0, 0) translateZ(0);
  }
  75% {
    -webkit-transform: translate3d(2px, 0, 0) translateZ(0);
            transform: translate3d(2px, 0, 0) translateZ(0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) translateZ(0);
            transform: translate3d(0, 0, 0) translateZ(0);
  }
}
@keyframes storm {
  0% {
    -webkit-transform: translate3d(0, 0, 0) translateZ(0);
            transform: translate3d(0, 0, 0) translateZ(0);
  }
  25% {
    -webkit-transform: translate3d(4px, 0, 0) translateZ(0);
            transform: translate3d(4px, 0, 0) translateZ(0);
  }
  50% {
    -webkit-transform: translate3d(-3px, 0, 0) translateZ(0);
            transform: translate3d(-3px, 0, 0) translateZ(0);
  }
  75% {
    -webkit-transform: translate3d(2px, 0, 0) translateZ(0);
            transform: translate3d(2px, 0, 0) translateZ(0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) translateZ(0);
            transform: translate3d(0, 0, 0) translateZ(0);
  }
}
footer {
  /* height: 50px; */
  /* line-height: 50px; */
  /*垂直置中常用行高設定跟高度一樣*/
  background-color: var(--dark-gb);
  /* text-align: center; */
  color: var(--deep_grey);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}
footer small {
  font-family: TaipeiSansTC;
  font-size: 1rem;
  font-weight: 200;
  color: var(--major-color);
  letter-spacing: 3px;
}
footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px;
}
footer nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 640px) {
  footer nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    /*主軸變成垂直*/
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
footer .menu a {
  font-family: LEMONMILK, serif;
  position: relative;
  text-decoration: none;
  margin: 0 10px;
  padding: 5px 0;
  /* font-weight: 500; */
  color: var(--major-color2);
}
footer .menu a::after {
  content: "";
  /*沒內容也一定要寫*/
  display: block;
  width: 0;
  height: 2px;
  background-color: var(--major-color2);
  margin-top: 4px;
}
footer .menu a:hover::after {
  width: 100%;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}
@media (max-width: 640px) {
  footer .menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
footer .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
footer .icon a {
  width: 35px;
  height: 35px;
  margin: 5px;
  -webkit-transition: all 1s;
  transition: all 1s;
}

/*置頂按鈕*/
#btn_goTop {
  width: 100px;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.25);
  opacity: 0.8;
  border-radius: 50%;
  position: fixed;
  bottom: 110px;
  right: 50px;
  text-align: center;
  line-height: 125px;
  cursor: pointer;
  z-index: 999;
  /* display: none; */
}

.fa-arrow-up {
  font-size: 50px;
  color: #ddd;
}/*# sourceMappingURL=style.css.map */