@charset "UTF-8";
/*須設定才能抓得到中文字*/

@import url("https://fonts.googleapis.com/css2?family=Alegreya&family=Grenze+Gotisch:wght@200&family=Noto+Serif+TC:wght@200..900&display=swap");
/*Google Fonts*/

@font-face {
  font-family: LEMONMILK;
  src: url("../webfonts/LEMONMILK.otf");
}

@font-face {
  font-family: TaipeiSansTC;
  src: url("../webfonts/TaipeiSansTC.ttf");
}

@font-face {
  font-family: ROLATE;
  src: url("../webfonts/ROLATE.otf");
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*消除button所有預設*/
button {
  margin: 0;
  /* 清除外邊距 */
  padding: 0;
  /* 清除內邊距 */
  border: none;
  /* 清除邊框 */
  background: none;
  /* 清除背景 */
  font: inherit;
  /* 繼承父元素的字體屬性 */
  color: inherit;
  /* 繼承父元素的文字顏色 */
  /* text-align: left; 清除文字居中
    cursor: pointer; 使鼠標顯示為手指形狀
    outline: none; 清除默認的焦點樣式 */
}

/*定義css變數*/
:root {
  /*灰階*/
  --light_grey: #ccc;
  --grey: #999;
  --deep_grey: #666;
  /*主色調*/
  --major-color: #f2edf0;
  --major-color2: #e6ece5;
  --major-color3: #ecf0f4;
  /*輔助色調*/
  --lesser-color: rgb(191, 152, 153);
  --dark-gb: #22577a;
  --dark-gb-5: #22577a1a;
  --miduim-gb: #38a3a5;
  --light-gb: #57cc99;
  --light-gb-5: #57cc9918;
  --green: #80ed99;
  --light-g: #c7f9cc;

}

/*網頁常用設定*/

* {
  /*"*"表全域選擇器，改變所有標籤*/
  box-sizing: border-box;
  /*不累加邊框和內距，間距還是會累積*/
}

a {
  display: block;
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
}

body {
  /* background-color: blanchedalmond; */
  font-family:
		/*西文*/ -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, /*中文*/ "蘋方-繁",
    "PingFang TC", "黑體-繁", "Heiti TC", "微軟正黑體", "Microsoft JhengHei",
    "Noto Sans TC", sans-serif;
}

/*卷軸:滑動效果*/
/* body,html {
	scroll-behavior: smooth;
} */
